.btn--warning{
  background-color: #F6BF43;
  color: #7F4316;
}

.btn--info{
  background-color: #0A484D;
  color: white;
}

.btn--purple{
  background-color: #CA8EFF;
}

.btn{
  box-shadow: 0.15rem 0.15rem 0.1rem rgba(14, 14, 14, 0.15) !important;
}

.btn:hover, .btn:active{
  transform: scale(1.1)
}
