.img__banner{
  width: 100%;
}

.admin__logo{
  top:20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.img__card{
  height: 17rem; 
  object-fit: cover;
  @include media-breakpoint-up(md) { 
    height: 13rem; 
  }
  @include media-breakpoint-up(lg) { 
    height: 16rem; 
  }
  @include media-breakpoint-up(xl) { 
    height: 23rem; 
  }
}

.img__card__suggest{
  height: 17rem; 
  object-fit: cover;
  @include media-breakpoint-up(md) { 
    height: 13rem; 
  }
  @include media-breakpoint-up(lg) { 
    height: 16rem; 
  }
}

.img__card__products{
  height: 20rem; 
  @include media-breakpoint-up(sm) { 
    height: 14rem; 
  }
  @include media-breakpoint-up(md) { 
    height: 16rem; 
  }
  @include media-breakpoint-up(lg) { 
    height: 16rem; 
  }
  @include media-breakpoint-up(xl) { 
    height: 18rem; 
  }
}

.img__card__products, .img__card, .img__card__suggest{
  &__inside{
    transition: all 0.5s ease-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:before{
    content: '';
    z-index: 100;
    opacity: 0;
    transition: all .2s linear;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.img__card:hover{
  &:before{
    opacity: 0.4;
  }
  .img__card__inside{
    transform: scale(1.2, 1.2);
  }
}

.img__card__products:hover{
  &:before{
    opacity: 0.4;
  }
  .img__card__products__inside{
    transform: scale(1.2, 1.2);
  }
}

.img__quote{
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.6;
}

.img__famous{
  width: 246px;
  height: 128px;
  object-fit: cover;
  @include media-breakpoint-up(sm) { 
    width: 200px;
  } 
}

.img__article{
  height: 240px;
  width: 100%;
  object-position: 50% 25%;
  object-fit: cover;
  @include media-breakpoint-up(lg) { 
    height: 280px;
  }
  @include media-breakpoint-up(xl) { 
    height: 340px;
  }
}

.img__productDetail{
  height: 400px;
  object-fit: cover;
  @include media-breakpoint-up(sm) { 
    height: 700px;
  }
  @include media-breakpoint-up(md) { 
    height: 600px;
  }
  @include media-breakpoint-up(lg) { 
    height: 500px;
  }
}

.img__cart{
  height: 40px;
  width: 80px;
  object-fit: cover;
}

.img__article__page{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.img__quiz{
  width: 55%;
}