.img__banner{
  width: 100%;
}

.admin__logo{
  top:20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.img__card{
  height: 17rem; 
  object-fit: cover;
  @include media-breakpoint-up(md) { 
    height: 13rem; 
  }
  @include media-breakpoint-up(lg) { 
    height: 16rem; 
  }
  @include media-breakpoint-up(xl) { 
    height: 23rem; 
  }
}

.img__card__products{
  height: 20rem; 
  object-fit: cover;
  @include media-breakpoint-up(sm) { 
    height: 14rem; 
  }
  @include media-breakpoint-up(md) { 
    height: 16rem; 
  }
  @include media-breakpoint-up(lg) { 
    height: 16rem; 
  }
  @include media-breakpoint-up(xl) { 
    height: 18rem; 
  }
}

.img__quote{
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.6;
}

.img__famous{
  width: 200px;
  height: 128px;
  object-fit: cover;
}

.img__article{
  height: 240px;
  width: 100%;
  object-position: 50% 25%;
  object-fit: cover;
  @include media-breakpoint-up(lg) { 
    height: 280px;
  }
  @include media-breakpoint-up(xl) { 
    height: 340px;
  }
}