th,td,tr{
  font-size: 14px !important;
  vertical-align: middle;
}

.table--purple{
  --bs-table-bg: #F1E1FF;
  --bs-table-striped-bg: #F1E1FF;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #F1E1FF;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #F1E1FF;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #F1E1FF;
}

.table-responsive th{
  word-break:keep-all;
}