// overflow-x
.overflowX{
  overflow-x: hidden !important;
}

// body
body{
  padding-right: 0px !important;
  overflow-x: hidden !important;
}

// z_index
.zindex__banner{
  z-index: 100;
  &__text{
    z-index: 50;
  }
}

.zindex--cat{
  z-index: 200;
}

// top
.top__banner{
  top: 100px;
}

// position center{
.position__banner{
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  @include xxs() { 
    top: 20%;
    transform: translate(-50%, -20%);
  } 
  @include media-breakpoint-up(sm) { 
    top: 25%;
    transform: translate(-50%, -25%);
  } 
  @include media-breakpoint-up(md) { 
    top: 30%;
    transform: translate(-50%, -30%);
  }
  @include media-breakpoint-up(lg) { 
    top: 50%;
    transform: translate(-50%, -50%);
  }
  // @include media-breakpoint-up(xl) { 
  //   top: 50%;
  //   transform: translate(-50%, -50%)
  // }
}

// title SEO
.textindent__title{
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

// font size
.font--xl{
  font-size: 40px;
  @include media-breakpoint-up(md) { 
    font-size: 66px;
  }
}

.font--title{
  font-size: 32px;
  @include xxs() { 
    font-size: 44px;
  }
  @include media-breakpoint-up(sm) { 
    font-size: 50px;
  }
  @include media-breakpoint-up(md) { 
    font-size: 66px;
  }
  @include media-breakpoint-up(lg) { 
    font-size: 72px;
  }
}

.font--subtitle{
  font-size: 14px;
  @include xxs() { 
    font-size: 18px;
  }
  @include media-breakpoint-up(sm) { 
    font-size: 20px;
  }
  @include media-breakpoint-up(md) { 
    font-size: 25px;
  }
  @include media-breakpoint-up(lg) { 
    font-size: 32px;
  }
}

.font--description{
  font-size: 12px;
  @include media-breakpoint-up(sm) { 
    font-size: 14px;
  }
  @include media-breakpoint-up(md) { 
    font-size: 16px;
  }
  @include media-breakpoint-up(lg) { 
    font-size: 20px;
  }
}

.font--error{
  font-size: 70px;
  @include media-breakpoint-up(md) { 
    font-size: 100px;
  }
}

.font--lg{
  font-size: 20px;
}

.font--md{
  font-size: 16px;
}


.font--sm{
  font-size: 14px;
}

.font--xs{
  font-size: 12px;
}

.font--banner{
  font-size: 28px;
  @include media-breakpoint-up(sm) { 
    font-size: 40px;
  }
  @include media-breakpoint-up(md) { 
    font-size: 56px;
  }
}

// text clolr
.text--warning{
  color: #F6BF43;
}

.text--gray{
  color: #636469;
}

.text--black{
  color: #000;
}

.text--purple{
  color: #CA8EFF;
}

.text--brown{
  color: #7F4316;
}

// bg
.bg--dark{
  background-color: #242424;
}

.bg--dark__100{
  background-color: #1E1E1E;
}

.bg--dark__200{
  background-color: #101010;
}

.bg--dark__300{
  background-color: #151515;
}

.bg--dark__400{
  background-color: #1C1C1C;
}
.bg--dark__500{
  background-color: #434343;
}

.bg--black{
  background-color: #000;
}

.bg--green{
  background-color: #61D4AB;
}

.bg--yellow{
  background-color: #F3E8C6;
}

.bg--light{
  background-color: #f8f9fa;
}

.bg--orange{
  background-color: #FF8000;
}

.bg--warning{
  background-color: #F6BF43;
}

// border
.border--top{
  border-top: 1px solid #19191a;
}

.border--top--purple{
  border-top: 1px solid #CA8EFF;
}

// width
.w--47{
  width: 47.5%;
}

.w--articlePhoto{
  width: 100%;
  @include media-breakpoint-up(sm) { 
    width: 52.5%;
  }
}

.w--login{
  width: 355px;
}

.w--article{
  width: 100%;
  @include media-breakpoint-up(sm) { 
    width: 47.5%;
  }
}

.w--noneProduct{
  width: 50%;
  @include media-breakpoint-up(sm) { 
    width: 25%;
  }
}

.w--num{
  width: 165px;
}

.w--search{
  width: 100% !important;
  @include media-breakpoint-up(md) { 
    width: 50% !important;
  }
}

.w--nav{
  width: 100% !important;
  @include media-breakpoint-up(lg) { 
    width: auto!important;
  }
}

// height
.h--100{
  height: 100vh;
}

.h--productDetail{
  height: 600px;
  @include media-breakpoint-up(lg) { 
    height: 500px;
  }
}

// shadow
.box--shadow{
  box-shadow: 0.15rem 0.15rem 0.1rem rgba(14, 14, 14, 0.15) !important;
}

// position
.top--10{
  top: 10px;
}

.top--list{
  top: 10%;
}

.start--10{
  left: 10px;
}

.middle--50{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle__product--50{
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom--num{
  bottom: 30px;
}

.right--num{
  right: 20px;
}

.end--10{
  right: 10px;
}

.end--circle{
  top: 36%;
  left: 52%;
  transform: translate(-50%, -80%);
  @include media-breakpoint-up(lg) { 
    top: 0;
    right: 4px;
    transform: translate(0%, 0%);
  }
}

.bottom--10{
  bottom: 10px;
}

// hover
.hover--success:hover, .hover--success:active{
  background: #5ABFDD;;
  border-radius: 0.25rem;
}

.hover--cat:hover{
  background: #4b586e;
  a {
    color: white !important;
  }
}

.hover--cat:active, .hover--cat.active{
  background: #000;
  a {
    color: white !important;
  }
}

// opacity
.opacity__article{
  opacity: 78%;
}

.opacity__banner{
  opacity: 70%;
}

// padding
.p--circle{
  width: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}